@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --colorPrimary : #1a55e7;
    --colorDark : #050d34;
    --colorDarkBlue : #1f1d62;
}
body,html{
    font-family: "Poppins", sans-serif !important;
    background:  #f0f1f3;
    color : rgba(0,0,0,.5);
    font-weight: 400;
}
.btn-back{
    background : var(--colorPrimary);
    color : white;
}
.btn-default{
    background: #efefef;
    color : var(--colorDark) !important; 
}
.btn,.form-control,.card,.card-header{
    border-radius: 0px !important;
}
.btn-success,.btn-primary{
    color : white !important;
}
.btn-primary{
    background: var(--colorPrimary);
    border-color: var(--colorPrimary);
}
@media (min-width: 1200px){
    .container,.modal-tanggal {
        max-width: 1280px !important;
    }
}
@media (min-width: 992px){
    .container,.modal-tanggal {
        max-width: 1100px;
    }
}
@media (min-width: 768px){
    .container,.modal-tanggal {
        max-width: 860px;
    }
}
@media (min-width: 576px){
    .container,.modal-tanggal {
        max-width: 680px;
    }
}
.navbar-light{
    background : white;
}
.navbar-light li{
    margin-left : 5px;
    margin-right : 5px;
}
.navbar-light li a{
    padding: 0.5rem 1.2rem !important;
}
.navbar-light li a.active,.navbar-light li a:hover{
    background : var(--colorPrimary); 
    color : white !important;
}
.box-content{
    background : white;

}
.row-breadcrumbs h5 a{
    cursor: pointer;
}
.row-breadcrumbs h5{
    font-weight: 600 !important;
    color : var(--colorDarkBlue);
}
.row-breadcrumbs h6{
    color : rgba(0,0,0,.5);

}
.row-breadcrumbs h5,.row-breadcrumbs h6{
    margin-top : 0;
    margin-bottom : 0;
    font-weight: 400;
}
.table-hover tbody tr:hover{
    background: rgba(71, 145,254,0.05) !important;
}
.table-primary, .table-primary>td, .table-primary>th{
    background-color: var(--colorPrimary) !important;
    color : white
}
.td-top{
    font-weight: 500;
    color : var(--colorPrimary);
}
.badge{
    padding : 4px 8px;
    font-weight: 500;
}
.bg-primary{
    background: var(--colorPrimary) !important;
    color : white;
}
.badge-primary,.btn-rgb-primary{
    background: rgba(71, 145,254,0.2);
    color : var(--colorPrimary);
}
.badge-warning,.btn-rgb-warning{
    background: rgba(255, 193,7,0.2);
    color : #ffc107;
}
.badge-success,.btn-rgb-success{
    background: rgba(40, 167,69,0.2);
    color : #28a745;
}
.badge-danger,.btn-rgb-danger{
    background: rgba(220, 53,69,0.2);
    color : #dc3545;
}
.table-custom tbody tr td{
    vertical-align: middle;
}
.table-custom tbody tr td{
    position: relative;
}
.table-custom tbody tr td .btn-action{
    opacity: 0;
    transition: all.3s ease-in-out;
}
.table-custom tbody tr:hover td .btn-action{
    opacity: 1;
}
label{
    font-weight: 600;
    color : var(--colorDarkBlue)
}
.color-darkBlue{
    color : var(--colorDarkBlue)
}
.select2{
    width : 100% !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0px;
    border : 1px solid #ced4da;
    height: calc(2.25rem + 2px);
    padding : .375rem .75rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: inherit;
    color : inherit;
    padding : 0px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: var(--colorPrimary);
}
.datepicker{
    padding : .375rem .75rem;
    font-weight: 300;
}
.form-control:disabled, .form-control[readonly]{
    background: #f0f1f3;
}
.input-penugasan-popup{
    display :none;
}
.input-penugasan-popup.active{
    display :block;
}
.btn-pointer{
    cursor: pointer;
}
.disabled{
    cursor : no-drop;
    pointer-events: inherit !important;
}
.loop-tanggal{
    display : inline-block;
}
.select-anggota.selected-ketua{
    color : #4099ff !important;
    font-weight: bold;
}
.select-anggota.selected-ketua label:after{
    content : "(Ketua)";
}
.select-anggota .isKetua{
    display : none;
    margin-left : 10px;
    cursor : pointer;
    color : #4099ff;
    text-decoration : underline;
}
.select-anggota.checked:not(.selected-ketua):hover .isKetua{
    display : inline-block;
}
.remove-tanggal:hover{
    color : red;
    cursor: pointer !important;
}
